export EDS_DOMAIN="localhost.test" # the domain 
# export SERVER_CERTS=""
export EDS_CONTAINER_PREFIX="eds" # prefix for the running docker containers 
# export EDS_IMAGE_PREFIX="eds" # prefix for docker image names

export KEYCLOAK_ADMIN='admin' # username for keycloak admin

export MONGO_PORT=27017
export MONGO_INITDB_DATABASE=edsdb
export MONGO_HOST=${EDS_CONTAINER_PREFIX:-eds}-mongo


export MONGO_INITDB_ROOT_USERNAME=mongo_root
export MONGO_INITDB_ROOT_PASSWORD=

export MONGO_INITDB_USER_USERNAME=mongo_user
export MONGO_INITDB_USER_PASSWORD=

