.env
certificates
*.crt*
*.key*
logs
gitlab/config
gitlab/data
tmp

jupyterhub/data/
!jupyterhub/data/jupyterhub_config.py
volume
matrix/matrix/data
nginx/nginx.conf
element-config.json
trusted-certs
python_setup_data
gitlab/gitlab.rb
