pymongo
pyyaml
requests
pandas
xlrd
openpyxl
python-dotenv
numpy
attrs
mypy
cattrs
scipy
matplotlib
plotly
wordcloud
frozendict
graphviz
tabulate
unidecode
xarray
lxml
pyarrow
kaleido

seaborn
unidecode
scikit-learn
sqlalchemy

beautifulsoup4
matplotlib-venn
xgboost

statsmodels
# tensorflow
# pandocfilters

spacy

